---
- name: Set WORKSPACE_DIRECTORY env var if not already started
  ansible.builtin.lineinfile:
    state: present
    path: "$HOME/.zsh_dynamic"
    line: "export WORKSPACE_DIRECTORY={{ workspace_dir }}"

- name: Set CODE_DIRECTORY env var if not already started
  ansible.builtin.lineinfile:
    state: present
    path: "$HOME/.zsh_dynamic"
    line: "export CODE_DIRECTORY={{ git_projects_dir }}"

- name: Ensure .aliases is setup
  ansible.builtin.lineinfile:
    state: present
    path: "$HOME/.zsh_dynamic"
    line: ". \"$HOME/.aliases\""

- name: Ensure .custom-fns is setup
  ansible.builtin.lineinfile:
    state: present
    path: "$HOME/.zsh_dynamic"
    line: ". \"$HOME/.custom-fns.sh\""

- name: Ensure ~/.local/bin is available in PATH
  ansible.builtin.lineinfile:
    state: present
    path: "$HOME/.zsh_dynamic"
    line: 'export PATH="$HOME/.local/bin:$PATH"'
