---
- name: Ensure mise is installed
  command: command -v mise
  register: mise_result

- name: Check if .tool-versions file exists
  stat:
    path: "{{ ansible_env.HOME }}/.tool-versions"
  register: tool_versions_file_result

- name: Run mise install
  command: "mise install"
  when: tool_versions_file_result.stat.exists

- name: Run mise on startup
  ansible.builtin.lineinfile:
    state: present
    path: "$HOME/.zsh_dynamic"
    line: 'eval "$(mise activate zsh)"'