---

- name: Ensure developer directory exists
  file:
    path: "{{ git_projects_dir }}"
    state: directory
    follow: true

- name: Backup project repos
  shell: |
    {{ playbook_dir }}/../scripts/backup_git_repos.sh {{ git_projects_dir }}
  environment:
    GITHUB_TOKEN: "{{ github_token }}"
  register: backup_repos_result
  changed_when: "'Successfully' in backup_repos_result.stdout"
  failed_when: backup_repos_result.rc != 0
