---

- name: Install Docker packages
  community.general.pacman:
    name: "{{ item }}"
    state: present
  loop:
    - docker
    - docker-compose

- name: Enable and start Docker service
  ansible.builtin.systemd_service:
    name: docker
    state: started
    enabled: true

- name: Add user to docker group
  ansible.builtin.user:
    name: "{{ ansible_user_id }}"
    groups: docker
    append: true
